body {
    background: #C3DBFB;
    font-family: 'Reggae One', cursive;
}
header{
    display: block;
    margin-right: auto; 
    margin-left: auto;
    text-align: center;
    clear: both;
}
li {
    float: none;
    display: inline-block;
    background-color: #D50101;
}
li.Dep_Symp{
    display: block;
    background-color: #C3DBFB
}
.Slideshow{
    overflow: hidden;
    margin: auto;
    position: relative;
    width: 350px;
    height: 400px;
    padding-bottom: 10%;
}
.Slideshow img {
    position: absolute;
    animation: Slideshow 20s infinite;
    opacity: 0; 
    width: 100%;
    height: auto;
    border-radius: 40px;
}
@keyframes Slideshow {
    25% {opacity:1;}
    40% {opacity:0;}
}
.Slideshow img:nth-child(3){animation-delay:0s;}
.Slideshow img:nth-child(2){animation-delay:5s;}
.Slideshow img:nth-child(1){animation-delay:10s;}

/* img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px; 
    border: 2px solid #D50101;
    height: 400px;
    width: 100%
} */

a{
    text-decoration: none;
    color: white;
}
.Dep_Symp a{
    color: black;
    text-decoration: underline;
}
button{
    background-color: #D50101;
    color: white;
    font-size: 18px;
}
.dropbtn{
    background-color: #D50101;
    color: white;
    display: flex;
    justify-content: space-between;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position :absolute;
    background-color: #DDDDDD;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropwdown:hover .dropbtn{
    background-color: red;
}
h1, h2, h3, h4, p{
    text-align: center;
}
.About_Mental_Illness h3, .Why_Martial_Arts h3{
    border: 2px solid #D50101; 
    border-radius: 30px; 
}
.Intro h2, .About_Me h2, .About_Mental_Illness h2, .Why_Martial_Arts h2, .Other_Resources h2, .FAQ h2{
    text-decoration: underline;
    text-decoration-color: #C3DBFB;
    background: #D50101;
    border-radius: 40px; 
}
